<po-page-list 
    p-title = 'Prestação de Contas'>

   <div class="sample-container">
    
        <po-loading-overlay 
            [hidden]="escondeTimer"
        ></po-loading-overlay>
    
        </div>

   <div class="po-wrapper"></div>

   <po-widget>
        <div class="po-row">
            
            <po-datepicker
              class="po-md-2"
              p-label="Periodo Inicial"
              p-format="dd/mm/yyyy"
              [(ngModel)]="filterData.dataEmissaoIni"
              ></po-datepicker>
            
            <po-datepicker
              class="po-md-2"
              p-label="Periodo Final"
              p-format="dd/mm/yyyy"
              [(ngModel)]="filterData.dataEmissaoDim"
            ></po-datepicker>

            <po-input
                class="po-md-2"
                p-label="Documento"
                name="documentoIni"
                [(ngModel)]="filterData.codigoDocumentoIni"
            ></po-input>

            <po-input
                class="po-md-2"
                p-label="CPF/CNPJ"
                name="cpfCnpjIni"
                [(ngModel)]="filterData.cpfCnpjIni"
            ></po-input>

            <po-button #btAtualiza
                class ="po-mt-4 po-ml-3"
                p-kind="primary"
                p-label="Atualiza"
                p-icon="po-icon-refresh"
                (p-click)="onListaDados()"
            ></po-button>

            <po-button #btProcessa
               class ="po-mt-4 po-ml-3"
               p-kind="primary"
               p-label="Reprocessar"
               p-icon="po-icon-upload"
               (p-click)="processaPrest()"
            ></po-button>

         </div>
    
   </po-widget>

   <po-table #poTable
        [p-columns]="colunas" 
        [p-items]="itens"
        [p-actions]="maisOpcoes"
        (p-selected)="selecaoReprocesso($event, 'new')"
        (p-unselected)="selecaoReprocesso($event, 'change')"
        [p-selectable]="true"
        [p-auto-collapse]="true"
        [p-hide-columns-manager]="false"
        [p-hide-table-search]="false"
        [p-hide-detail]="false"
        [p-infinite-scroll]="true"
        [p-infinite-scroll-distance]=90
        p-container="shadow"
        [p-sort]="true"
        [p-height]="415"
        p-striped="true"
        (p-expanded)="BuscaErros($event)"
        
        >
    
      <ng-template #expandedTemplate let-item
         p-table-row-template
         let-rowErro
         let-i="rowSelect"
         [p-table-row-template-show]="habilitaErro">

         <po-table class="po-md-8"
            [p-columns]="colunasErro"
            [p-items]="itensErro"
            [p-hide-columns-manager]="true"
            p-container="true"
            [p-infinite-scroll]="true" 
            [p-height]="250"  
         ></po-table>

      </ng-template>

   </po-table>
 
</po-page-list>



